<!--
 ~
 ~ Copyright (c) 2021-2024, WSO2 LLC. (https://www.wso2.com). All Rights Reserved.
 ~
 ~ This software is the property of WSO2 LLC. and its suppliers, if any.
 ~ Dissemination of any information or reproduction of any material contained
 ~ herein in any form is strictly forbidden, unless permitted by WSO2 expressly.
 ~ You may not alter or remove any copyright or other notice from copies of this content.
 ~
-->

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="metrics-test-suite">
    <test name="cds-client-authenticators">
        <classes>
            <class name="com.wso2.openbanking.cds.metrics.service.MetricsV3QueryCreatorImplTest"/>
            <class name="com.wso2.openbanking.cds.metrics.service.MetricsV3ProcessorImplTest"/>
            <class name="com.wso2.openbanking.cds.metrics.service.MetricsV3FetcherImplTest"/>
            <class name="com.wso2.openbanking.cds.metrics.util.DateTimeUtilTest"/>
            <class name="com.wso2.openbanking.cds.metrics.util.MetricsProcessorUtilTest"/>
            <class name="com.wso2.openbanking.cds.metrics.util.MetricsServiceUtilTest"/>
            <class name="com.wso2.openbanking.cds.metrics.util.SPQueryExecutorUtilTest"/>
        </classes>
    </test>
</suite>
