<!--
 ~ Copyright (c) 2021-2024, WSO2 LLC. (https://www.wso2.com). All Rights Reserved.
 ~
 ~ This software is the property of WSO2 LLC. and its suppliers, if any.
 ~ Dissemination of any information or reproduction of any material contained
 ~ herein in any form is strictly forbidden, unless permitted by WSO2 expressly.
 ~ You may not alter or remove any copyright or other notice from copies of this content.
 ~
-->

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="gateway-base-test-suite">
    <test name="gateway-base-test-all">
        <classes>
            <class name="com.wso2.openbanking.cds.gateway.executors.error.handler.CDSErrorHandlerTest"/>
            <class name="com.wso2.openbanking.cds.gateway.executors.idpermanence.utils.IDPermanenceUtilsTest"/>
            <class name="com.wso2.openbanking.cds.gateway.executors.idpermanence.IDPermanenceExecutorTest"/>
            <class name="com.wso2.openbanking.cds.gateway.executors.core.CDSAPIRequestRouterTest"/>
            <class name="com.wso2.openbanking.cds.gateway.throttling.CDSThrottleDataPublisherImplTest"/>
            <class name="com.wso2.openbanking.cds.gateway.mediators.GatewayErrorMediatorTest"/>
            <class name="com.wso2.openbanking.cds.gateway.handlers.InfoSecDataPublishingHandlerTest"/>
            <class name="com.wso2.openbanking.cds.gateway.executors.reporting.CDSCommonDataReportingExecutorTest"/>
            <class name="com.wso2.openbanking.cds.gateway.executors.header.validation.CDSHeaderValidationExecutorTest"/>
            <class name="com.wso2.openbanking.cds.gateway.executors.jwt.authentication.JWTAuthenticationExecutorTest"/>
        </classes>
    </test>
</suite>
