<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Copyright (c) 2021-2023, WSO2 LLC. (https://www.wso2.com). All Rights Reserved.
 ~
 ~ This software is the property of WSO2 LLC. and its suppliers, if any.
 ~ Dissemination of any information or reproduction of any material contained
 ~ herein in any form is strictly forbidden, unless permitted by WSO2 expressly.
 ~ You may not alter or remove any copyright or other notice from copies of this content.
-->

<Server xmlns="http://wso2.org/projects/carbon/open-banking-cds.xml">
    <IdPermanence>
        {% if open_banking_cds.id_permanence.enabled is defined %}
        <Enabled>{{open_banking_cds.id_permanence.enabled}}</Enabled>
        {% else %}
        <Enabled>true</Enabled>
        {% endif %}
        {% if open_banking_cds.id_permanence.secret_key is defined %}
        <SecretKey>{{open_banking_cds.id_permanence.secret_key}}</SecretKey>
        {% else %}
        <SecretKey>wso2</SecretKey>
        {% endif %}
    </IdPermanence>
    <TokenEncryption>
        {% if open_banking_cds.token_encryption.enabled is defined %}
        <Enabled>{{open_banking_cds.token_encryption.enabled}}</Enabled>
        {% else %}
        <Enabled>true</Enabled>
        {% endif %}
        {% if open_banking_cds.token_encryption.secret_key is defined %}
        <SecretKey>{{open_banking_cds.token_encryption.secret_key}}</SecretKey>
        {% else %}
        <SecretKey>wso2</SecretKey>
        {% endif %}
    </TokenEncryption>
    <Admin>
        {% if open_banking_cds.admin.api_self_link is defined %}
        <APISelfLink>{{open_banking_cds.admin.api_self_link}}</APISelfLink>
        {% else %}
        <APISelfLink>https://localhost:8243/cds-au/v2/admin/</APISelfLink>
        {% endif %}
    </Admin>
    <JWTAuthentication>
        {% if open_banking_cds.jwt_authentication.enabled is defined %}
        <Enabled>{{open_banking_cds.jwt_authentication.enabled}}</Enabled>
        {% else %}
        <Enabled>false</Enabled>
        {% endif %}
        {% if open_banking_cds.jwt_authentication.issuer is defined %}
        <Issuer>{{open_banking_cds.jwt_authentication.issuer}}</Issuer>
        {% endif %}
        {% if open_banking_cds.jwt_authentication.subject is defined %}
        <Subject>{{open_banking_cds.jwt_authentication.subject}}</Subject>
        {% endif %}
        {% if open_banking_cds.jwt_authentication.audience is defined %}
        <Audience>{{open_banking_cds.jwt_authentication.audience}}</Audience>
        {% endif %}
        {% if open_banking_cds.jwt_authentication.jwks_url is defined %}
        <JWKSUrl>{{open_banking_cds.jwt_authentication.jwks_url}}</JWKSUrl>
        {% endif %}
        {% if open_banking_cds.jwt_authentication.cache_expiry_time is defined %}
        <CacheExpiryTime>{{open_banking_cds.jwt_authentication.cache_expiry_time}}</CacheExpiryTime>
        {% endif %}
        {% if open_banking_cds.jwt_authentication.cache_modified_expiry_time is defined %}
        <CacheModifiedExpiry>{{open_banking_cds.jwt_authentication.cache_modified_expiry_time}}</CacheModifiedExpiry>
        {% endif %}
    </JWTAuthentication>
    <Headers>
        {% if open_banking_cds.headers.holder_identifier is defined %}
        <HolderIdentifier>{{open_banking_cds.headers.holder_identifier}}</HolderIdentifier>
        {% endif %}
    </Headers>
    <Metrics>
        {% if open_banking_cds.metrics.aggregation_job.enabled is defined %}
        <AggregationJobEnabled>{{open_banking_cds.metrics.aggregation_job.enabled}}</AggregationJobEnabled>
        {% endif %}
        {% if open_banking_cds.metrics.aggregation_job.cache_expiry_time is defined %}
        <CacheExpiryTime>{{open_banking_cds.metrics.aggregation_job.cache_expiry_time}}</CacheExpiryTime>
        {% endif %}
        {% if open_banking_cds.metrics.aggregation_job.current_tps_retrieval_url is defined %}
        <CurrentTpsRetrievalURL>{{open_banking_cds.metrics.aggregation_job.current_tps_retrieval_url}}</CurrentTpsRetrievalURL>
        {% else %}
        <CurrentTpsRetrievalURL>http://localhost:8007/CDSCurrentPeakTPSApp/CDSCurrentPeakTPSAppStream</CurrentTpsRetrievalURL>
        {% endif %}
        {% if open_banking_cds.metrics.aggregation_job.max_tps_aggregation_url is defined %}
        <MaxTPSMetricsAggregationURL>{{open_banking_cds.metrics.aggregation_job.max_tps_aggregation_url}}</MaxTPSMetricsAggregationURL>
        {% else %}
        <MaxTPSMetricsAggregationURL>http://localhost:8007/CDSPeakTPSMetricsAggregationApp/MaxTPSMetricsAggregationInputStream</MaxTPSMetricsAggregationURL>
        {% endif %}
        {% if open_banking_cds.metrics.aggregation_job.availability_aggregation_url is defined %}
        <AvailabilityAggregationURL>{{open_banking_cds.metrics.availability_aggregation_url}}</AvailabilityAggregationURL>
        {% else %}
        <AvailabilityAggregationURL>http://localhost:8007/CDSAvailabilityMetricsAggregationApp/AvailabilityMetricsAggregationInputStream</AvailabilityAggregationURL>
        {% endif %}
    </Metrics>
</Server>
