<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2021, WSO2 Inc. (http://www.wso2.com). All Rights Reserved.
  ~
  ~ This software is the property of WSO2 Inc. and its suppliers, if any.
  ~ Dissemination of any information or reproduction of any material contained
  ~ herein is strictly forbidden, unless permitted by WSO2 in accordance with
  ~ the WSO2 Software License available at https://wso2.com/licenses/eula/3.1. For specific
  ~ language governing the permissions and limitations under this license,
  ~ please see the license as well as any agreement you’ve entered into with
  ~ WSO2 governing the purchase of this software and any associated services.
  ~
  -->

<Server xmlns="http://wso2.org/projects/carbon/open-banking-cds.xml">
     <DCR>
        {% if open_banking_cds.dcr.enable_uri_validation is defined %}
        <EnableURIValidation>{{open_banking_cds.dcr.enable_uri_validation}}</EnableURIValidation>
        {% else %}
        <EnableURIValidation>false</EnableURIValidation>
        {% endif %}
        {% if open_banking_cds.dcr.enable_hostname_validation is defined %}
        <EnableHostNameValidation>{{open_banking_cds.dcr.enable_hostname_validation}}</EnableHostNameValidation>
        {% else %}
        <EnableHostNameValidation>false</EnableHostNameValidation>
        {% endif %}
        {% if open_banking_cds.dcr.enable_sector_identifier_uri_validation is defined %}
        <EnableSectorIdentifierUriValidation>{{open_banking_cds.dcr.enable_sector_identifier_uri_validation}}</EnableSectorIdentifierUriValidation>
        {% else %}
        <EnableSectorIdentifierUriValidation>false</EnableSectorIdentifierUriValidation>
        {% endif %}
     </DCR>
     <ConsentManagement>
        {% if open_banking_cds.consent_management.payable_accounts_retrieve_endpoint is defined %}
        <PayableAccountsRetrieveEndpoint>{{open_banking_cds.consent_management.payable_accounts_retrieve_endpoint}}</PayableAccountsRetrieveEndpoint>
        {% else %}
        <PayableAccountsRetrieveEndpoint>http://APIM_HOSTNAME:9763/api/openbanking/backend-uk/services/bankaccounts/bankaccountservice/payable-accounts</PayableAccountsRetrieveEndpoint>
        {% endif %}
        {% if open_banking_cds.consent_management.sharable_accounts_retrieve_endpoint is defined %}
        <SharableAccountsRetrieveEndpoint>{{open_banking_cds.consent_management.sharable_accounts_retrieve_endpoint}}</SharableAccountsRetrieveEndpoint>
        {% else %}
        <SharableAccountsRetrieveEndpoint>http://APIM_HOSTNAME:9763/api/openbanking/backend-uk/services/bankaccounts/bankaccountservice/sharable-accounts</SharableAccountsRetrieveEndpoint>
        {% endif %}
        {% if open_banking_cds.consent_management.validate_account_id_on_retrieval is defined %}
        <ValidateAccountIdOnRetrieval>{{open_banking_cds.consent_management.validate_account_id_on_retrieval}}</ValidateAccountIdOnRetrieval>
        {% else %}
        <ValidateAccountIdOnRetrieval>false</ValidateAccountIdOnRetrieval>
        {% endif %}
        {% if open_banking_cds.consent_management.enable_account_masking is defined %}
        <EnableAccountMasking>{{open_banking_cds.consent_management.enable_account_masking}}</EnableAccountMasking>
        {% else %}
        <EnableAccountMasking>false</EnableAccountMasking>
        {% endif %}
     </ConsentManagement>
     <CustomerDetails>
        {% if open_banking_cds.customer_details.enable is defined %}
        <Enable>{{open_banking_cds.customer_details.enable}}</Enable>
        {% else %}
        <Enable>false</Enable>
        {% endif %}
        {% if open_banking_cds.customer_details.customer_details_retrieval_endpoint is defined %}
        <CustomerDetailsRetrieveEndpoint>{{open_banking_cds.customer_details.customer_details_retrieval_endpoint}}</CustomerDetailsRetrieveEndpoint>
        {% else %}
        <CustomerDetailsRetrieveEndpoint></CustomerDetailsRetrieveEndpoint>
        {% endif %}
     </CustomerDetails>
     <MetaDataCache>
        {% if open_banking_cds.metadata_cache.enable is defined %}
        <EnableMetaDataCache>{{open_banking_cds.metadata_cache.enable}}</EnableMetaDataCache>
        {% else %}
        <EnableMetaDataCache>true</EnableMetaDataCache>
        {% endif %}
        {% if open_banking_cds.metadata_cache.update_period is defined %}
        <MetaDataCacheUpdatePeriod>{{open_banking_cds.metadata_cache.update_period}}</MetaDataCacheUpdatePeriod>
        {% else %}
        <MetaDataCacheUpdatePeriod>5</MetaDataCacheUpdatePeriod>
        {% endif %}
        {% if open_banking_cds.metadata_cache.data_recipients_discovery_url is defined %}
        <DataRecipientsDiscoveryURL>{{open_banking_cds.metadata_cache.data_recipients_discovery_url}}</DataRecipientsDiscoveryURL>
        {% else %}
        <DataRecipientsDiscoveryURL>https://api.cdr.gov.au/cdr-register/v1/banking/data-recipients</DataRecipientsDiscoveryURL>
        {% endif %}
        {% if open_banking_cds.metadata_cache.dcr_internal_url is defined %}
        <DCRInternalURL>{{open_banking_cds.metadata_cache.dcr_internal_url}}</DCRInternalURL>
        {% else %}
        <DCRInternalURL>https://localhost:9446/api/openbanking/dynamic-client-registration/register</DCRInternalURL>
        {% endif %}
        {% if open_banking_cds.metadata_cache.apim_application_search_url is defined %}
        <APIMApplicationSearchURL>{{open_banking_cds.metadata_cache.apim_application_search_url}}</APIMApplicationSearchURL>
        {% else %}
        <APIMApplicationSearchURL>https://localhost:9443/api/am/admin/v2/applications</APIMApplicationSearchURL>
        {% endif %}
        {% if open_banking_cds.metadata_cache.http_request_retry_count is defined %}
        <RetryCount>{{open_banking_cds.metadata_cache.http_request_retry_count}}</RetryCount>
        {% else %}
        <RetryCount>3</RetryCount>
        {% endif %}
        {% if open_banking_cds.metadata_cache.expiry is defined %}
        <Expiry>{{open_banking_cds.metadata_cache.expiry}}</Expiry>
        {% else %}
        <Expiry>60</Expiry>
        {% endif %}
        <DataHolderResponsibilities>
            {% if open_banking_cds.metadata_cache.dataholder_responsibilities.bulk_execution is defined %}
            <BulkExecution>{{open_banking_cds.metadata_cache.dataholder_responsibilities.bulk_execution}}</BulkExecution>
            {% else %}
            <BulkExecution>true</BulkExecution>
            {% endif %}
            {% if open_banking_cds.metadata_cache.dataholder_responsibilities.bulk_execution_hour is defined %}
            <BulkExecutionHour>{{open_banking_cds.metadata_cache.dataholder_responsibilities.bulk_execution_hour}}</BulkExecutionHour>
            {% else %}
            <BulkExecutionHour>2</BulkExecutionHour>
            {% endif %}
        </DataHolderResponsibilities>
     </MetaDataCache>
</Server>
