<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2021, WSO2 Inc. (http://www.wso2.com). All Rights Reserved.
  ~
  ~ This software is the property of WSO2 Inc. and its suppliers, if any.
  ~ Dissemination of any information or reproduction of any material contained
  ~ herein is strictly forbidden, unless permitted by WSO2 in accordance with
  ~ the WSO2 Software License available at https://wso2.com/licenses/eula/3.1. For specific
  ~ language governing the permissions and limitations under this license,
  ~ please see the license as well as any agreement you’ve entered into with
  ~ WSO2 governing the purchase of this software and any associated services.
  ~
  -->

<Server xmlns="http://wso2.org/projects/carbon/open-banking-cds.xml">
     <DCR>
        {% if open_banking_cds.dcr.enable_uri_validation is defined %}
        <EnableURIValidation>{{open_banking_cds.dcr.enable_uri_validation}}</EnableURIValidation>
        {% else %}
        <EnableURIValidation>false</EnableURIValidation>
        {% endif %}
        {% if open_banking_cds.dcr.enable_hostname_validation is defined %}
        <EnableHostNameValidation>{{open_banking_cds.dcr.enable_hostname_validation}}</EnableHostNameValidation>
        {% else %}
        <EnableHostNameValidation>false</EnableHostNameValidation>
        {% endif %}
        {% if open_banking_cds.dcr.enable_sector_identifier_uri_validation is defined %}
        <EnableSectorIdentifierUriValidation>{{open_banking_cds.dcr.enable_sector_identifier_uri_validation}}</EnableSectorIdentifierUriValidation>
        {% else %}
        <EnableSectorIdentifierUriValidation>false</EnableSectorIdentifierUriValidation>
        {% endif %}
     </DCR>
     <ConsentManagement>
        {% if open_banking_cds.consent_management.payable_accounts_retrieve_endpoint is defined %}
        <PayableAccountsRetrieveEndpoint>{{open_banking_cds.consent_management.payable_accounts_retrieve_endpoint}}</PayableAccountsRetrieveEndpoint>
        {% else %}
        <PayableAccountsRetrieveEndpoint>http://APIM_HOSTNAME:9763/api/openbanking/backend-uk/services/bankaccounts/bankaccountservice/payable-accounts</PayableAccountsRetrieveEndpoint>
        {% endif %}
        {% if open_banking_cds.consent_management.sharable_accounts_retrieve_endpoint is defined %}
        <SharableAccountsRetrieveEndpoint>{{open_banking_cds.consent_management.sharable_accounts_retrieve_endpoint}}</SharableAccountsRetrieveEndpoint>
        {% else %}
        <SharableAccountsRetrieveEndpoint>http://APIM_HOSTNAME:9763/api/openbanking/backend-uk/services/bankaccounts/bankaccountservice/sharable-accounts</SharableAccountsRetrieveEndpoint>
        {% endif %}
        {% if open_banking_cds.consent_management.validate_account_id_on_retrieval is defined %}
        <ValidateAccountIdOnRetrieval>{{open_banking_cds.consent_management.validate_account_id_on_retrieval}}</ValidateAccountIdOnRetrieval>
        {% else %}
        <ValidateAccountIdOnRetrieval>false</ValidateAccountIdOnRetrieval>
        {% endif %}
        {% if open_banking_cds.consent_management.enable_account_masking is defined %}
        <EnableAccountMasking>{{open_banking_cds.consent_management.enable_account_masking}}</EnableAccountMasking>
        {% else %}
        <EnableAccountMasking>false</EnableAccountMasking>
        {% endif %}
     </ConsentManagement>
     <CustomerDetails>
        {% if open_banking_cds.customer_details.enable is defined %}
        <Enable>{{open_banking_cds.customer_details.enable}}</Enable>
        {% else %}
        <Enable>false</Enable>
        {% endif %}
        {% if open_banking_cds.customer_details.customer_details_retrieval_endpoint is defined %}
        <CustomerDetailsRetrieveEndpoint>{{open_banking_cds.customer_details.customer_details_retrieval_endpoint}}</CustomerDetailsRetrieveEndpoint>
        {% else %}
        <CustomerDetailsRetrieveEndpoint></CustomerDetailsRetrieveEndpoint>
        {% endif %}
     </CustomerDetails>
</Server>
