<!--
 ~ Copyright (c) 2021, WSO2 Inc. (http://www.wso2.com). All Rights Reserved.
 ~
 ~ This software is the property of WSO2 Inc. and its suppliers, if any.
 ~ Dissemination of any information or reproduction of any material contained
 ~ herein is strictly forbidden, unless permitted by WSO2 in accordance with
 ~ the WSO2 Software License available at https://wso2.com/licenses/eula/3.1.
 ~ For specific language governing the permissions and limitations under this
 ~ license, please see the license as well as any agreement you’ve entered into
 ~ with WSO2 governing the purchase of this software and any associated services.
-->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Consumer Data Standards Integration Suite">
    <test name="Client Registration Tests" parallel="false" enabled="true">
        <classes>
            <class name="com.wso2.openbanking.toolkit.cds.integration.tests.client_registration.DynamicClientRegistrationFlowTest" />
        </classes>
    </test>
    <test name="Accounts Integration Tests" parallel="false" enabled="false">
        <classes>
            <!--<class name="com.wso2.finance.open.banking.au.integration.testss.accounts.AccountsRetrieval100Test"/>-->
            <class name="com.wso2.openbanking.toolkit.cds.integration.tests.accounts.AccountsRetrievalTest"/>
            <class name="com.wso2.openbanking.toolkit.cds.integration.tests.accounts.AccountsRetrievalRequestHeaderValidationTest"/>
            <class name="com.wso2.openbanking.toolkit.cds.integration.tests.accounts.DuplicateCommonAuthIdTest"/>
        </classes>
    </test>
    <test name="ID Permanence Tests" parallel="false" enabled="false">
        <classes>
            <class name="com.wso2.openbanking.toolkit.cds.integration.tests.accounts.AccountsIdPermanenceTest"/>
        </classes>
    </test>
    <test name="Product Retrieval Tests" parallel="false" enabled="false">
        <classes>
            <class name="com.wso2.openbanking.toolkit.cds.integration.tests.banking_products.ProductRetrievalHeaderValidationTest"/>
            <class name="com.wso2.openbanking.toolkit.cds.integration.tests.banking_products.ProductRetrievalValidationTest"/>
        </classes>
    </test>
    <test name="Common API Tests" parallel="false" enabled="false">
        <classes>
            <class name="com.wso2.openbanking.toolkit.cds.integration.tests.common_apis.CustomerDetailsRetrievalTest"/>
            <class name="com.wso2.openbanking.toolkit.cds.integration.tests.common_apis.CustomerDetailsRetrievalHeaderValidationTests"/>
        </classes>
    </test>
    <test name="Concurrent Consent Test" parallel="false" enabled="false">
        <classes>
            <class name="com.wso2.openbanking.toolkit.cds.integration.tests.cdr_arrangement.ConcurrentConsentTest"/>
        </classes>
    </test>
    <test name="Admin Api Validation Tests" parallel="false" enabled="false">
        <classes>
            <class name="com.wso2.openbanking.toolkit.cds.integration.tests.admin_apis.AdminApiValidationTests"/>
        </classes>
    </test>
    <test name="Throttling Policy Tests" parallel="false" enabled="false">
        <classes>
            <class name="com.wso2.openbanking.toolkit.cds.integration.tests.throttling.ThrottlingPolicyTest" />
        </classes>
    </test>
    <test name="Customer Experience Test - Authorisation Flow" parallel="false" enabled="false">
        <classes>
            <class name="com.wso2.openbanking.toolkit.cds.integration.tests.cx.authflow.AuthorisationFlowCXValidationTest" />
            <class name="com.wso2.openbanking.toolkit.cds.integration.tests.cx.authflow.AuthorisationFlowUIValidationTest" />
            <class name="com.wso2.openbanking.toolkit.cds.integration.tests.cx.authflow.UserAuthenticationFlowValidationTest"/>
        </classes>
    </test>
    <test name="Customer Experience Test - CCPortal" parallel="false" enabled="false">
        <classes>
            <class name="com.wso2.openbanking.toolkit.cds.integration.tests.cx.ccportal.WithdrawalFlowUIValidationTest" />
            <class name="com.wso2.openbanking.toolkit.cds.integration.tests.cx.ccportal.WithdrawalFlowValidationTest" />
        </classes>
    </test>
    <test name="Customer Experience Test - Consent Mgt App" parallel="false" enabled="false">
        <classes>
            <class name="com.wso2.openbanking.toolkit.cds.integration.tests.cx.consentmgt.WithdrawalFlowUIValidationTest" />
            <class name="com.wso2.openbanking.toolkit.cds.integration.tests.cx.consentmgt.WithdrawalFlowValidationTest" />
        </classes>
    </test>
    <test name="Client Deletion Tests" parallel="false" enabled="false">
        <classes>
            <class name="com.wso2.openbanking.toolkit.cds.integration.tests.client_registration.DeleteClientRegistration" />
        </classes>
    </test>
</suite>
